<form>
    <p>First Name: <input type="text"></p>
    <p>Last  Name: <input type="text"></p>
    <p>Title: <input type="text"></p>
    <p>Education: <input type="text"></p>
    <p>Username: <input type="text"></p>
    <p>Email address: <input type="text"></p>
    <p>Password: <input type="text"></p>
    <p>Confirm Password: <input type="text"></p>
<input type="submit">
<form>